html, body {
    overflow-x: hidden;  /* 수평 스크롤바 제거 */
    margin: 0;  
    padding: 0;  
}

body{
    width: 100vw;
    background-color: #f0edec;
    font-family: pretendard;
}

@font-face {
    font-family: 'pretendard';
    src: url('../font/PretendardVariable.ttf') format('truetype');
}

@font-face {
    font-family: 'newsreader';
    src: url('../font/Newsreader-VariableFont_opsz\,wght.ttf') format('truetype');
}


