/* 모바일버전 swiper css  */
.mo_swiper {
    width: 100%;
    height: 100%;
    overflow:hidden;
  }

  .mo_swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

