@use 'variables' as *;
@use 'mixins' as *;

header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;

  &.scrolled {
    background-color: white;
  }
}

nav {
  display: flex;
  width: 100vw;
  height: 70px;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  color: $color-text-primary;

  > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
  }
}

.menu {
  display: flex;
  gap: 40px;
  font-weight: 600;
}

.banner_icon {
  display: flex;
  gap: 30px;
  font-size: 20px;
  position: relative;
}

.sale_box {
  font-family: $font-pretendard;
  position: absolute;
  top: 35px;
  left: -46px;
  background-color: $color-text-primary;
  opacity: 0.5;
  color: white;
  text-align: center;
  border-radius: 222px;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  z-index: 44;
  transition: all 0.3s;
  animation: moveUpDown 1s infinite linear;
  animation-timing-function: linear;
}

.fa-solid.fa-bars {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@keyframes moveUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}

@include mobile {
  .menu {
    display: none;
  }

  .fa-solid.fa-bars {
    display: block;
  }

  .fa-solid.fa-magnifying-glass {
    display: none;
  }

  .join {
    display: none;
  }

  .sale_box {
    left: -25px;
  }
}
